.button {
	background-color: rgba(112, 37, 155, 1);
	border-radius: 20px;
	border: 0;
	color: white;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 14px;
	height: 40px;
	padding: 8px, 16px, 8px, 16px;
	text-align: center;
	width: 83px;

	cursor: pointer;
	line-height: 1;

	&.sucess {
		color: white;
		background-color: rgba(58, 187, 129, 1);
	}
	&.sucess:hover {
		background-color: rgba(62, 196, 135, 1);
	}
	&.danger {
		color: white;
		background-color: rgba(255, 56, 96, 1);
	}
	&.danger:hover {
		background-color: rgba(240, 58, 95, 1);
	}
	&.inverted {
		background-color: white;
		border-radius: 20px;
		border: 2px solid rgba(112, 37, 155, 1);
		color: rgba(112, 37, 155, 1);
		height: 40px;
		padding: 8px, 16px, 8px, 16px;
		width: 96px;
		transition: background-color 0.5s;
	}
	&.inverted:hover {
		background-color: rgba(153, 57, 208, 1);
		color: white;
		width: 96px;
		height: 40px;
		border-radius: 6px;
		transition: background-color 0.5s;
	}

	&card-button {
		border-radius: 0%;
		width: 100%;
		color: rgba(50, 115, 220, 1);
		background-color: black;
	}
}

.button:hover {
	background-color: rgba(153, 57, 208, 1);
	color: white;
	border-radius: 6px;
	transition: background-color 0.5s;
}
